{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $user_name := promptStringOnce . "$user_name" "Enter your name:" -}}
{{- $email_address := promptStringOnce . "email_address" "Enter your email address:" -}}
{{- $dev_packages := promptBoolOnce . "dev_packages" "Would you like to install software development packages? (Y/n)" true -}}
{{- $term_packages := promptBoolOnce . "term_packages" "Would you like to install extended terminal packages? (Y/n)" true -}}
{{- $use_secrets := promptBoolOnce . "use_secrets" "Use secrets from keepassxc (Y/n)" true -}}

[data]
    osid = {{ $osid | quote }}
    user_name = {{ $user_name | quote }}
    email_address = {{ $email_address | quote }}
    dev_packages = {{ $dev_packages }}
    term_packages = {{ $term_packages }}
    use_secrets = {{ $use_secrets }}
    xdg_cache_dir = "{{ .chezmoi.homeDir }}/.cache"
    xdg_config_dir = "{{ .chezmoi.homeDir }}/.config"
    xdg_data_dir = "{{ .chezmoi.homeDir }}/.local/share"
    xdg_state_dir = "{{ .chezmoi.homeDir }}/.local/state"

[keepassxc]
	database = "/home/erlenmeyer316/Sync/keepassxc/Passwords.kdbx"

[hooks.read-source-state.pre]
script = ".local/share/chezmoi/dotfiles/.pre-read-source-state-hook.sh"

[hooks.apply.post]
script = ".local/share/chezmoi/dotfiles/.post-apply-hook.sh"
