#!/usr/bin/env bash

{{ if lookPath "flatpak" }}

{{ template "shared_script_utils.bash" . }}

header "Checking for flatpaks to remove"

did_remove_package=false

{{ range $package := .packages.flatpak.to_remove }}
  if yay -Qqe | grep "{{ $package }}" &> /dev/null; then
      did_remove_package=true
      flatpak remove {{ $package }}
  fi
{{ end }}

_safeExit_

{{ end }}
