#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

header "Checking for packages to remove"

did_remove_package=false

{{ if eq .osid "darwin" }}
{{ end }}

{{ if eq .osid "linux-arch" }}
   {{ range $package := .packages.pacman.to_remove }}
      if pacman -Qqe | grep "{{ $package }}" &> /dev/null; then
          did_remove_package=true
          sudo pacman -Rns {{ $package }}
      fi
   {{ end }}

   {{ if lookPath "yay" }}
      {{ range $package := .packages.yay.to_remove }}
          if yay -Qqe | grep "{{ $package }}" &> /dev/null; then
              did_remove_package=true
	      yay -Rns {{ $package }}
	  fi
      {{ end }}
   {{ end }}
{{ end }}

{{ if eq .osid "linux-debian" }}
   {{ range $package := .packages.apt.to_remove }}
      if dpkg -s "{{ $package }}" &> /dev/null; then
          did_remove_package=true
          sudo apt-get purge {{ $package }}
      fi
   {{ end }}
   sudo apt-get autoremove

{{ end }}

_safeExit_
