#!/usr/bin/env bash

{{ if eq .osid "linux-debian" }}

{{ template "shared_script_utils.bash" . }}
{{ template "debian_vscode.bash" . }}

# Apt
header "Checking for apt packages to remove"
{{ range $package := .debian.apt.remove.packages }}
    if dpkg -s "{{ $package }}" &> /dev/null; then
        sudo apt-get purge {{ $package }} -y
    fi
{{ end }}

sudo apt-get autoremove

# Flatpak
header "Checking for flatpak packages to remove"
{{ range $package := .debian.flatpak.remove.packages }}
    if flatpak list --app | grep -q "{{ $package }}"; then
        flatpak uninstall "{{ $package }}" -y
    fi
{{ end }}


# Manual
header "Checking for manual packages to remove"
{{ range $package := .debian.manual.remove.packages }}
    info "${manual}"
    #if [ "{{ $package}}" -eq "vscode" ]; then
        #uninstall_vscode
    #fi
{{ end }}

_safeExit_

{{ end }}
