#!/usr/bin/env bash

{{ if eq .osid "linux-debian" }}

{{ template "shared_script_utils.bash" . }}
{{ template "debian_vscode.bash" . }}
{{ template "debian_syncthing.bash.tmpl ."}}

# Apt
packages=(
    {{ range $package := .debian.apt.common.packages }}
        "{{ $package }}"
    {{ end }}
    {{ if .dev_packages }}
        {{ range $package := .debian.apt.dev.packages }}
	        "{{ $package }}"
        {{ end }}
	{{ end }}
    {{ if .term_packages }}
        {{ range $package := .debian.apt.term.packages }}
	        "{{ $package }}"
        {{ end }}
    {{ end}}
    {{ if .personal_packages }}
        {{ range $package := .debian.apt.personal.packages }}
	        "{{ $package }}"
        {{ end }}
    {{ end}}    
)

header "Installing packages with apt"
sudo apt-get update 

for package in "${packages[@]}"; do
   if dpkg -s "${package}" &> /dev/null; then
       info "Package ${package} is already installed"
       continue
   fi
   if apt-cache policy "${package}" | grep  "Candidate:" &> /dev/null; then
      info "Installing ${package}"
      sudo apt-get -qq install ${package} -y
   else
       warning "Package ${package} is not available in apt"
   fi
done

success "apt packages installed"

# Flatpak
flatpaks=(
    {{ range $package := .debian.flatpak.common.packages }}
        "{{ $package }}"
    {{ end }}
    {{ if .dev_packages }}
        {{ range $package := .debian.flatpak.dev.packages }}
	        "{{ $package }}"
        {{ end }}
	{{ end }}
    {{ if .term_packages }}
        {{ range $package := .debian.flatpak.term.packages }}
	        "{{ $package }}"
        {{ end }}
    {{ end}}
    {{ if .personal_packages }}
        {{ range $package := .debian.flatpak.personal.packages }}
	        "{{ $package }}"
        {{ end }}
    {{ end}}    
)

header "Installing packages with flatpak"

sudo flatpak update 

for flatpak in "${flatpaks[@]}"; do
   if flatpak list --app | grep -q "${flatpak}"; then
       info "Package ${flatpak} is already installed"
       continue
   fi
   if flatpak search "${flatpak}" | grep "${flatpak}" &> /dev/null; then
      info "Installing ${flatpak}"
      sudo flatpak install ${flatpak} -y
    else
       warning "Package ${flatpak} is not available in flatpak"
   fi
done

success "flatpak packages installed"


# Manual
manuals=(
    {{ range $package := .debian.manual.common.packages }}
        "{{ $package }}"
    {{ end }}
    {{ if .dev_packages }}
        {{ range $package := .debian.manual.dev.packages }}
	        "{{ $package }}"
        {{ end }}
	{{ end }}
    {{ if .term_packages }}
        {{ range $package := .debian.manual.term.packages }}
	        "{{ $package }}"
        {{ end }}
    {{ end}}
    {{ if .personal_packages }}
        {{ range $package := .debian.manual.personal.packages }}
	        "{{ $package }}"
        {{ end }}
    {{ end}}
)

header "Installing manual packages"
for manual in "${manuals[@]}"; do 
    if [ "${manual}" == "vscode" ]; then
        install_vscode
    fi

    if [ "${manual}" == "syncthing" ]; then
        install_syncthing
    fi
done

_safeExit_

{{ end }}
