#!/usr/bin/env bash

{{ if eq .osid "linux-debian" }}

{{ template "shared_script_utils.bash" . }}

packages=(
    {{ range $package := .debian.apt.base.packages }}
        "{{ $package }}"
    {{ end }}
)

header "Installing base packages with apt"
sudo apt-get update 

for package in "${packages[@]}"; do
   if dpkg -s "${package}" &> /dev/null; then
       info "Package ${package} is already installed"
       continue
   fi
   if apt-cache policy "${package}" | grep  "Candidate:" &> /dev/null; then
      info "Installing ${package}"
      sudo apt-get -qq install ${package} -y
   else
       warning "Package ${package} is not available in apt"
   fi
done

success "base packages installed"

header "configuring flatpak"
flatpak remote-add --if-not-exists https://dl.flathub.org/repo/flathub.flatpakrepo
success "flatpak configured"

_safeExit_

{{ end }}
