## ELinks 0.18.0 configuration file

## This is ELinks configuration file. You can edit it manually,
## if you wish so; this file is edited by ELinks when you save
## options through UI, however only option values will be altered
## and missing options will be added at the end of file; if option
## is not written in this file, but in some file included from it,
## it is NOT counted as missing. Note that all your formatting,
## own comments and so on will be kept as-is.
##
## Obviously, if you don't like what ELinks is going to do with
## this file, you can change it by altering the config.saving_style
## option. Come on, aren't we friendly guys after all?

bind "main" "h" = "scroll-left"
bind "main" "j" = "scroll-down"
bind "main" "k" = "scroll-up"
bind "main" "l" = "scroll-right"
bind "main" "H" = "history-move-back"
bind "main" "K" = "tab-prev"
bind "main" "J" = "tab-next"
bind "main" "L" = "history-move-forward"
bind "main" "r" = "reload"
bind "main" "y" = "copy-clipboard"
bind "main" "Y" = "copy-clipboard"
bind "main" "/" = "search"
bind "main" "?" = "search-back"
bind "main" "o" = "goto-url"
bind "main" "e" = "goto-url-current"
bind "main" "O" = "open-link-in-new-tab"
bind "main" "T" = "open-link-in-new-tab-in-background"
bind "main" "d" = "tab-close"

set mime.handler.image.unix-xwin.program = "feh %u"
set mime.handler.video.unix-xwin.program = "mplayer -loop 0 %u"
set mime.handler.pdf.unix-xwin.program = "wget -O /home/dion/tmp/tmp.pdf %u && mupdf /home/dion/tmp/tmp.pdf"
set mime.handler.svg.unix-xwin.program = "firefox-bin %u"
set mime.extension.webm = "video/webm"
set mime.extension.mp4 = "video/mp4"
set mime.extension.pdf = "application/pdf"
set mime.extension.svg = "image/svg+xml"
set mime.type.video.webm = "video"
set mime.type.video.mp4 = "video"
set mime.type.image.jpg = "image"
set mime.type.image.jpeg = "image"
set mime.type.image.png = "image"
set mime.type.application.pdf = "pdf"
set mime.type.image.xml+svg = "svg"
set mime.type.image.svg+xml = "svg"

set protocol.http.use_curl = 1

set document.browse.images.show_as_links = 1
set document.browse.images.display_style = 3
set document.download.directory = "{{ .chezmoi.homeDir }}/tmp/"
set document.browse.show_refresh_link = 0
set document.browse.minimum_refresh_time = 0

set terminal.xterm-256color.block_cursor = 1
set terminal.xterm-256color.colors = 4
set terminal.xterm-256color.italic = 1
set terminal.xterm-256color.m11_hack = 1
set terminal.xterm-256color.strike = 1
set terminal.xterm-256color.transparency = 1
set terminal.xterm-256color.type = 1
set terminal.xterm-256color.underline = 1
set terminal.xterm-256color.utf_8_io = 1


set ui.clock.enable = 1
set ui.clock.format = "[%H:%M]"
set ui.dialogs.shadows = 1
set ui.dialogs.underline_hotkeys = 1
set ui.dialogs.underline_button_shortcuts = 1
set ui.tabs.show_bar = 2
set ui.tabs.top = 1
set ui.tabs.confirm_close = 1
set ui.show_menu_bar_always = 1
set ui.show_status_bar = 1
set ui.show_title_bar = 1
set ui.success_msgbox = 1
set ui.colors.color.desktop.background = "black"
set ui.colors.color.desktop.text = "red"
set ui.colors.color.mainmenu.normal.background = "white"
set ui.colors.color.status.status-bar.background = "#96f06e"
set ui.colors.color.status.status-text.background = "#96f06e"
set ui.colors.color.tabs.normal.background = "#333333"
set ui.colors.color.tabs.normal.text = "#eeeeee"
set ui.colors.color.tabs.selected.background = "#96f06e"
set ui.colors.color.tabs.selected.text = "black"
set ui.colors.color.tabs.separator.background = "#222222"
set ui.colors.color.tabs.separator.text = "#333333"
set ui.colors.color.title.title-bar.background = "black"
set ui.colors.color.title.title-bar.text = "black"
set ui.colors.color.title.title-text.background = "black"
set ui.colors.color.title.title-text.text = "#dc6ea5"
set ui.language = "System"
set ui.sessions.auto_restore = 1
set ui.sessions.auto_save = 1

set bookmarks.file_format = 1
set bookmarks.folder_state = 0


